.topNav {
    width: 500px; /* Style for index.hmtl*/
    background-color: #f0f0f0; 
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topNav .list-name {
    margin-right: 10px; 
    cursor: pointer;
    padding: 5px 10px; 
    background-color: #e0e0e0; 
    border-radius: 5px; 
}

.topNav .list-name:hover {
    background-color: #c0c0c0; 
}

.container {
    margin-top: 20px; 
}